.detail-page .detail-page-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: black;
  background: linear-gradient(90deg, black 22%, #302f2f 47%, #4a4949 63%, #575454 79%, #736c6c 90%, #7d7878 94%, #929090 100%, #a7a7a7 100%);
}

.detail-page .detail-page-section .header .user-info {
  margin-top: 55px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.detail-page .detail-page-section .header .user-info .profile-pic {
  margin: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.detail-page .detail-page-section .header .user-info .profile-pic img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.detail-page .detail-page-section .header .user-info .name-location {
  display: flex;
  flex-direction: column;
}

.detail-page .detail-page-section .header .user-info .name-location .name {
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.detail-page .detail-page-section .header .user-info .name-location .name:hover {
  color: black;
}

.detail-page .detail-page-section .header .user-info .name-location .location {
  cursor: pointer;
  color: white;
}

.detail-page .detail-page-section .header .user-info .name-location .location:hover {
  color: black;
}

.detail-page .detail-page-section .header .download {
  margin-top: 65px;
  margin-right: 20px;
}

.detail-page .detail-page-section .header .download button {
  font-family: "Montserrat", sans-serif;
  height: 40px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: green;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

.detail-page .detail-page-section .header .download button:hover {
  background-color: #259e25;
  cursor: pointer;
}

.detail-page .detail-page-section .photo-section {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.061);
}

.detail-page .detail-page-section .photo-section img {
  width: auto;
  max-width: auto;
  max-height: 700px;
  border: 0.1px solid rgba(44, 43, 43, 0.061);
}

.detail-page .detail-page-section .tags {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.detail-page .detail-page-section .tags button {
  font-family: "Montserrat", sans-serif;
  height: 30px;
  margin: 5px;
  border: none;
  padding: 4px 7px;
  color: rgba(0, 0, 0, 0.664);
  cursor: pointer;
  outline: none;
}

.detail-page .detail-page-section .tags button:hover {
  color: black;
}

.detail-page .detail-page-section .description {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
}

.detail-page .detail-page-section .description p {
  color: rgba(0, 0, 0, 0.746);
  margin: 20px 0;
  font-weight: 500;
  padding: 20px;
  font-size: 18px;
  border-top: 1.5px solid rgba(46, 46, 46, 0.226);
}

.detail-page .detail-page-section .capture-info {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.609);
}

.detail-page .detail-page-section .capture-info p {
  padding: 5px 20px;
}

.detail-page .detail-page-section .capture-info .line {
  border-top: 1.5px solid rgba(46, 46, 46, 0.226);
  padding: 0;
  margin-bottom: 20px;
}

.detail-page .detail-page-section .capture-info span {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.746);
}

.detail-page .similar-collection {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.061);
}

.detail-page .similar-collection p {
  font-size: 20px;
  font-weight: 600;
  padding: 0 20px;
  text-decoration: underline;
}

.detail-page .similar-collection .collection-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .detail-page .detail-page-section .header {
    flex-direction: column;
  }
  .detail-page .detail-page-section .photo-section img {
    max-height: 500px;
  }
}
