.detail-page {
    .detail-page-section {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .user-info {
                display: flex;
                align-items: center;
                box-sizing: border-box;
                .profile-pic {
                    margin: 20px;
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;

                    cursor: pointer;
                    img {
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                    }
                }
                .name-location {
                    display: flex;
                    flex-direction: column;
                    .name {
                        cursor: pointer;
                        margin-bottom: 10px;
                        font-weight: 600;
                        font-size: 18px;
                        color: rgba(0, 0, 0, 0.815);

                        &:hover {
                            color: black;
                        }
                    }
                    .location {
                        cursor: pointer;
                        color: rgba(0, 0, 0, 0.609);

                        &:hover {
                            color: black;
                        }
                    }
                }
            }
            .download {
                margin: 20px;
                button {
                    height: 40px;
                    padding: 10px;
                    border: none;
                    outline: none;
                    border-radius: 4px;
                    background-color: green;
                    color: #fff;
                    font-weight: 400;
                    font-size: 16px;

                    &:hover {
                        background-color: rgb(37, 158, 37);
                        cursor: pointer;
                    }
                }
            }
        }

        .photo-section {
            width: 100%;
            display: flex;
            justify-content: center;
            overflow: hidden;
            box-sizing: border-box;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.061);
            img {
                width: auto;
                max-width: auto;
                max-height: 700px;
                border: 0.1px solid rgba(44, 43, 43, 0.061);
            }
        }
        .tags {
            width: 100%;
            display: flex;
            box-sizing: border-box;
            padding: 0 20px;
            justify-content: center;
            flex-wrap: wrap;
            margin: 20px 0;
            button {
                height: 30px;
                margin: 5px;
                border: none;
                padding: 4px 7px;
                color: rgba(0, 0, 0, 0.664);
                cursor: pointer;
                outline: none;

                &:hover {
                    color: black;
                }
            }
        }
        .description {
            width: 100%;
            box-sizing: border-box;
            padding: 10px 20px;

            p {
                color: rgba(0, 0, 0, 0.746);
                margin: 20px 0;
                font-weight: 500;
                padding: 20px;
                font-size: 18px;
                border-top: 1.5px solid rgba(46, 46, 46, 0.226);
                // border-bottom: 1px solid rgba(46, 46, 46, 0.226);
            }
        }
        .capture-info {
            width: 100%;
            box-sizing: border-box;
            padding: 20px;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.609);
            p {
                padding: 5px 20px;
            }
            .line {
                border-top: 1.5px solid rgba(46, 46, 46, 0.226);
                padding: 0;
                margin-bottom: 20px;
            }

            span {
                font-weight: 500;
                color: rgba(0, 0, 0, 0.746);
            }
        }
    }
    .similar-collection {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.061);
        p {
            font-size: 20px;
            font-weight: 600;
            padding: 0 20px;
            text-decoration: underline;
        }

        .collection-body {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media (max-width: 768px) {
    .detail-page {
        .detail-page-section {
            .header {
                flex-direction: column;
            }
            .photo-section {
                img {
                    max-height: 500px;
                }
            }
        }
    }
}
