.login-photo {
    .login-photo-container {
        height: 100vh;
        width: 50vw;

        .info {
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.338);
            color: #fff;

            .logo-area {
                position: absolute;
            }

            .info-para {
                height: 100%;
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: left;

                h1 {
                    font-size: 45px;
                    margin-bottom: 20px;
                }

                p {
                    font-weight: 500;
                    font-size: 20px;
                    margin-bottom: 10px;
                    letter-spacing: 2px;
                }
            }
        }
    }
}